DISCORD_TOKEN=
CLIENT_ID=
GUILD_ID=

STAFF_ROLE_ID=
VERIFY_ROLE_ID=
JAVA_VERIFIED_ROLE_ID=
BEDROCK_VERIFIED_ROLE_ID=

TICKET_CATEGORY_ID=
EVENT_APPLICATION_CATEGORY_ID=
TICKET_LOGS_CHANNEL_ID=
DIAMOND_SUPPORTER_ROLE_ID=
IRON_SUPPORTER_ROLE_ID=
DIRT_SUPPORTER_ROLE_ID=
EVENT_LOGS_CHANNEL_ID=
VERIFICATION_LOG_CHANNEL_ID=
AUDIT_LOGS_CHANNEL_ID=

WELCOME_CHANNEL_ID=
WELCOME_BANNER_URL=
WELCOME_ROLE_ID=
RULES_CHANNEL_ID=
ANNOUNCEMENTS_CHANNEL_ID=

SERVER_IP=glurps.net
SERVER_PORT=50349

NEXT_PUBLIC_DISCORD_INVITE_URL=
NEXT_PUBLIC_MINECRAFT_ADDRESS=glurps.net

DATABASE_PATH=data/glurps.db
